
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1 class="form-signin-heading text-center">Log In</h1>
  <div class="col-md-4 col-md-offset-4">
  <div class="form-group">
    <%= f.label :email, class: 'control-label' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label' %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'control-label' %>
    </div>
  <% end -%>
<div class='row text-center'>
        <div class="col-md-4 col-md-offset-1 actions">
            <%= f.submit "Log In", class: 'btn btn-large btn-block btn-success' %>
        </div>
        <div class="col-md-2 text-center">
          <div class="or">Or</div></div>
        <div class="col-md-4">
          <%= link_to "Sign Up", new_registration_path(resource_name), class: 'btn btn-large btn-block btn-default'%>
          
        </div>
      </div>
<% end %>

<%= render "users/shared/links" %>
</div>