<div class='col-md-8 col-md-offset-2 text-center'>

  <div class = 'moto container centered text-center'>
    <div class='profile-pic centered text-center'>
      <%=image_tag("n.jpg", class: "profile-rounded", size: "160x160")%>
        </br>
      <h3> Vlad Stefan Otrocol</h3> <h5>Suceava, Romania </h5>
    </div>

    <div class='profile-text text-justify'>
      
        <i class='text-justify'>I am a science and technology enthusiast. I work with a large range of technologies on exciting projects. My background is in computer science with an engineering masters degree from University of Bristol. My main fields of focus are Human-Computer Interaction, Computer Vision and Cryptography. I also have a keen interest in the issue of big ideas in areas such as philosophy, education, macro-economics, politics and psychology. My latest hobby is quantum programming. </i>
    </div>
      <hr>
  </div>


    <div class='skills container text-center centered'>
      <div class='col-md-4 hire'>
        <div class='col-md-10 '>
          <div class='centered text-center fw'>
            </br>Currently seeking jobs?</br><span class='red'><h5><b>YES</b></h5></span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sendMail">Contact me
            </button>
          </div>
          <div class="modal fade" id="sendMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h3 class="modal-title" id="myModalLabel">Send Email</h3>
                </div>
                <div class="modal-body text-left">
                  
                  
                  <%= form_for(:home, :url => {:action => 'send_email'}) do |f| %>
                  
                  <div class="form-group">
                    <%= f.label :subject, class: 'control-label' %><br>
                    <%= f.text_field(:subject, class: 'form-control')%>
                  </div>
                  <div class="form-group">
                    <%= f.label :body, class: 'control-label' %><br>
                    <%= f.text_area(:body, rows: 10, class: 'form-control')%>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= submit_tag "Send", class: "btn btn-primary" %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='col-md-4 text-left'>
        <h5><b>Programming:</b></h5>
        <table id='programming-skills'>
          <tr>
            <td>C++</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>Java</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>Ruby</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>Python</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>C#</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
        </table>
      </div>
      <div class='col-md-4 text-left'>
        <h5><b>Languages:</b></h5>
        <table  id='languages-skills'>
          <tr>
            <td>English</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>Romanian</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>German</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>Japanese</td>
            <td><i class="fa fa-circle"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
          <tr>
            <td>Moldavian*</td>
            <td><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></td>
          </tr>
        </table>
      </div>
    </div>

  <div class='link-container container'> 
    <hr>
    <%= link_to 'https://www.facebook.com/vlad.otrocol' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-facebook-official"></i></div>
    <div class='about-link hvr-fade'>&nbsp&nbspFacebook</div></div>
    <% end %>
    <%= link_to 'https://uk.linkedin.com/in/vladotrocol' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-linkedin-square"></i></div>
    <div class='about-link hvr-fade'>&nbsp&nbspLinkedin</div></div>
    <% end %>
    <%= link_to 'https://twitter.com/otrocolvlad' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-twitter-square"></i></div> 
    <div class='about-link hvr-fade'>&nbsp&nbspTwitter</div></div>
    <% end %>
    <%= link_to 'http://stackoverflow.com/users/1114100/vlad-otrocol' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-stack-overflow"></i></div> 
    <div class='about-link hvr-fade'>&nbsp&nbspStackoverflow</div></div>
    <% end %>
    <%= link_to 'https://github.com/vladotrocol' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-github-square"></i></div>
    <div class='about-link hvr-fade'>&nbsp&nbspGithub</div></div>
    <% end %>
    <%= link_to 'https://bitbucket.org/vladotrocol' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-bitbucket-square"></i></div>
    <div class='about-link hvr-fade'>&nbsp&nbspBitbucket</div></div>
    <% end %>
    <%= link_to 'http://dl.acm.org/author_page.cfm?id=87958797557&coll=DL&dl=ACM&trk=0&cfid=493813538&cftoken=65871069' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-graduation-cap"></i></div>
    <div class='about-link hvr-fade'>&nbsp&nbspACM</div></div>
    <% end %> 
    <%= link_to 'http://lizozomro.deviantart.com/gallery/' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-deviantart"></i></div> 
    <div class='about-link hvr-fade'>&nbsp&nbspDevianart</div></div>
    <% end %>
    <%= link_to 'https://www.youtube.com/user/lizozomro2/videos' do %>
    <div class='about-link-icon'><div class='link-icon'><i class="fa fa-youtube-square"></i></div>
    <div class='about-link hvr-fade'>&nbsp&nbspYoutube</div></div>
    <% end %>
  </div>