<br>
<div class='col-md-6 col-md-offset-3 text-center article_post'>
	<h1 class = 'text-center'>Exchange</h1>
	<hr>
	 <%= form_for(:home, :url => {:action => 'convert'}, :html => {:"data-parsley-validate" => ''}) do |f| %>
	 <div class='row'>
		        <div class='col-sm-6'>
		        	<div class="form-group">
		            	<%= f.label 'From:', class: 'control-label'%>              
						<%= f.select :c1, @currencies, {:selected => 'EUR'}, {:class => 'form-control', :"required" => '',
							:"data-parsley-trigger" => "change"}%>
		            </div>

					<div class="form-group">
		            	<%= f.label 'Time:', class: 'control-label'%>
		                <div class='input-group date datetimepicker'>               
							<%= f.text_field :date, :class => 'form-control my_date_field', :value =>  Date.today.strftime("%Y-%m-%d"), :"required" => '',:"data-parsley-trigger" => "change", :"data-parsley-errors-messages-disabled" =>''%>
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
		            </div>		        	
		        </div>
		       	<div class='col-sm-6'>
		            <div class='form-group'>
		            	<%= f.label "To:", class: 'control-label'%>
		            	<%= f.select :c2,@currencies, {:selected => 'RON'}, {:class => 'form-control', :"required" => '',:"data-parsley-trigger" => "change"}%>
		        	</div>
		            <div class='form-group'>
		            	<%= f.label "Amount:", class: 'control-label'%>
		            	<%= f.number_field :amount, :value => 1, class: 'form-control', :"required" => '',:"data-parsley-trigger" => "change", :"data-parsley-type" => "number", :step => 'any'%>
		        	</div>
		        </div>
		    </div>
		        <hr>
	 	<%= submit_tag "Convert", class: "btn btn-danger" %>
	 	<hr>
	 <%end%>
	 <%if @r%>
	 	<h5 class='text-center'>Rate at: <%=@r[4]%></h5>
	 	<div class='row modal-body' >
	 		<div class='col-sm-5 alert alert-info'>
	 			<%=@r[3] + "   " + @r[1]%>
	 		</div>
	 		<div class='col-sm-2'>
				<span class="glyphicon glyphicon-resize-horizontal" style='font-size:3em;'></span>
	 		</div>
	 		<div class='col-sm-5 alert alert-success'>
	 			<%=@r[0].to_s + "   " + @r[2]%>
	 		</div>

	 	</div>
	 <%end%>
</div>
			
<%= javascript_tag do %>
  	goodDates = <%= @times.to_json.html_safe %>;
<% end %>

<script type="text/javascript">
	$(document).on('ready page:load page:change page:restore',  function() {
		var defaultD = goodDates[0];
		$('.my_date_field').attr('value', defaultD);
		$('.datetimepicker').datetimepicker({
			format: "YYYY-MM-DD",
			enabledDates: goodDates
		});
	});
</script>
