
<div class='pdfV' id='CV'>
<object data='/vladotrocolCV.pdf#' 
        type='application/pdf' 
        width='100%' 
        height='100%'>

<p>It appears your Web browser is not configured to display PDF files. 
No worries, just <a href='/vladotrocolCV.pdf#'>click here to download the PDF file.</a></p>

</object></div>