<div class="col-md-6 col-md-offset-3">
<h1 class="text-center">Wiki</h1>

<%= link_to 'Rubikon Paper', {:controller => '/wiki', :action => 'rubikon'}, class:"list-group-item "%>
<%= link_to 'SensaBubble Paper', {:controller => '/wiki', :action => 'sensabubble'}, class:"list-group-item "%>
<%= link_to 'Random Oracle in Cryptography', {:controller => '/wiki', :action => 'random_oracle_encryption'}, class:"list-group-item "%>
<%= link_to 'Data-structures - Linked Lists', {:controller => '/wiki', :action => 'linked_lists'}, class:"list-group-item "%>
<%= link_to 'Running Time Analysis', {:controller => '/wiki', :action => 'running_time'}, class:"list-group-item "%>
</div>