<div class='wiki_content'>
<object data='/wiki/papers/Rubikon.pdf#' 
        type='application/pdf' 
        width='100%' 
        height='100%'>

<p>It appears your Web browser is not configured to display PDF files. 
No worries, just <a href='/wiki/papers/Rubikon.pdf#'>click here to download the PDF file.</a></p>

</object>
</div>