<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'control-label' %>
    <%= f.text_area :content, rows: 40, id: 'froalaed' %>
  </div>
    <div class="form-group">
    <%= f.label :tag_list, "Tags (separated by spaces)", class: 'control-label' %><br />
  <%= f.text_field :tag_list, class: 'form-control'%>
</div>
  <div class="actions">

    <%= link_to 'Back', posts_path, class: 'btn btn-primary' %>
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>