<div class='scroll'>
  <div class="post_wrap">
    <div class='col-md-10 col-md-offset-1'>
      <h1 style='color:#22aaaa;'><span class="glyphicon glyphicon-pencil-large" aria-hidden="true"></span> Edit</h1>        
<%= render "form" %>
    </div>
  </div>
  <%= render 'layouts/sidepanel'%>
</div>
