<div class='scroll'>
    <div class="post_wrap">
        <div class='col-md-10 col-md-offset-1'>
            <h1 style='color:#22aaaa;' class='text-center'>Articles</h1>
            </br>
            <% @posts.each do |post| %>
            <div class=' article_post'>
                <div class='modal-body wordwrap'>

                    <h3 class='text-left'><%= link_to post.title, {:controller => 'posts', :action =>'show', :id => post.id} %>  </h3>

                    <!-- <p><small><em><%=post.description%></em></small>  </p> -->

                    <p class="text-muted"><small>Posted on: <%=post.created_at.strftime("%B #{post.created_at.day.ordinalize}, %Y")%>| by <%= @users.find(post.author).first_name%>
                        <%= @users.find(post.author).last_name%>
                    </small><p>
<hr>
                    <p><%= post.content.html_safe %></p>
                    <% if user_signed_in? %>
                    <% if current_user.admin>0%>
                    <hr><p class='f_right'>
                    <%= link_to "Show", {:controller => 'posts', :action =>'show', :id => post.id} %> |
                    <%= link_to "Edit", edit_post_path(post) %> |
                    <%= link_to "Delete", {:controller => '/posts', :action => "delete", :id => post.id} %></p>
                    <%end%>
                    <%end%>
                    <p>Tags: <%= raw post.tag_list.map { |t| link_to t, { :action => :tag, :tag => t }, {class: 'label label-info'}}.join(' ') %></p>
                </div>
            </div>
            <br /> 
            <% end %>
            <div class="text-center"><%= paginate @posts, :theme => 'twitter-bootstrap-3' %></div>
        </div>
    </div>
    <%= render 'layouts/sidepanel'%>
</div>