<div class="scroll">
        <div class='post_wrap'>
            <div class="col-md-10 col-md-offset-1">    
                <h3> New Article</h3>
                <%= render "form" %>
            </div>
        </div>
    <%= render 'layouts/sidepanel'%>
</div>    


