<div class='scroll'>
	<div class='post_wrap'>
		<br>
		<div class = 'col-md-10 col-md-offset-1 article_post'>
			<h3 class='text-center'><%= link_to @post.title, {:controller => 'posts', :action =>'show', :id => @post.id} %></strong></h3>
			<p><em><%= @post.description %></em></p>
			 <p class="text-muted text-left"><small>Posted on: <%=@post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %Y")%>| by <%= @users.find(@post.author).first_name%>
                        <%= @users.find(@post.author).last_name%>
                    </small></p>
			
			
			 <hr>
			<p><%= @post.content.html_safe() %></p>
			<% if user_signed_in? %>
                    <% if current_user.admin>0%>
                    <hr><p class='f_right'>
                    <%= link_to "Show", {:controller => 'posts', :action =>'show', :id => @post.id} %> |
                    <%= link_to "Edit", edit_post_path(@post) %> |
                    <%= link_to "Delete", {:controller => '/posts', :action => "delete", :id => @post.id} %></p>
                    <%end%>
                    <%end%>
                    <p>Tags: <%= raw @post.tag_list.map { |t| link_to t, { :action => :tag, :tag => t }, {class: 'label label-info'}}.join(' ') %></p>
		</div>
	</div>
	<%=render 'layouts/sidepanel'%>
</div>
