// Example using 'Cerulean' bootswatch

//
@import "bootstrap-sprockets";
// First import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

body { padding-top: 70px;
	background: #f2f2f2;
 }

.img-brand{
	position: relative;
	top: -15px;
}

.or{
	position: relative;
	top: 10px;
}

.divider-vertical {
	position: relative;
	top: 10px;
	width: 1px;
	height: 40px;
	border-left:1px solid #283a45;
	padding-right: 10px;
}

.profile-circular {
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
}

.profile-rounded {
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.pdfV{
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: -moz-calc(100% - 64px);
    height: -webkit-calc(100% - 64px);
    height: calc(100% - 64px);
}

.link-container{
	display: table;
	width: 70%;
	margin: 0 auto;
}

.about-link{
	display: table-cell;
	background: #aaa;
	width: 150px;
	font-size: 1.1em;
	text-align: left;
	vertical-align: middle;
	color: #f2f2f2;
}

.link-icon{
	display: table-cell;
	background: #666;
	width: 40px;
	font-size: 1.9em;
	padding-top: -10px;
	padding-bottom: -10px;
	color: #f2f2f2;
}

.about-link-icon{
	display: inline-block;
}

.moto{
	display: block;
	width: 70%;
	margin: 0 auto;
}

.profile-pic{
	padding-top: 25px;
	display: block;
}

.profile-text{
	padding-left: 20px;
	display: block;
	min-width: 200px;
}

#skills_pie{
	background: #fff;
	width: 140px;
}

.skills{
display: table;
	width: 70%;
	margin: 0 auto;
}

#programming-skills{
	text-align: left;
	font-size: 1em;
	width: 160px;
}

#languages-skills{
	text-align: left;
	width: 160px;
}

.fw{
	width: 100px;
}

.hire{
	text-align: left;
}
.red{
	color: #f21111;
}
.about_container{
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: #fefefe;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #e3e3e3;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
}

.about_container hr{
    border: 0; border-top: 1px solid #e2e2e2;
}

.wiki_content{
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
}

.text-white{
	color: #fff;
}

.sidepanel{
    position: fixed;
    left: 0px;
    min-width: 200px;
    // background-color: #1C171E;
    background-color: #272B30;
    width: 25%;
    min-height: 100% ;
    color: #fdfdfd;
}

.article_post{
    background-color: #fefefe;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #e3e3e3;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
}

.wordwrap{
    word-wrap: break-word;
    padding-top: 7px;
}

.post_wrap{
	position: absolute;
	left: 25%;
	width: 75%;
	min-width: 400px;
	
}

@media all and (max-width: 800px) {
    .post_wrap{
        margin-left: 0px;
        left: 200px;
        min-width: 600px;
    }
    .sidepanel{
    	position: absolute;
    }
}

.scroll{
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
}

#tag_cloud {
  line-height: 2.2em;
  .s { 
    font-size: 0.7em; 
    @extend .label-success;
  }
  .m { 
    font-size: 0.9em; 
    @extend .label-warning;
  }
  .l { 
    font-size: 1.1em; 
    @extend .label-danger;
  }
}

.f_right{
    float: right;
}

pre {
padding: 0px;
visibility: none;
}

.count-label{
	font-size: 0.5em;
	background: #fff;
	color: #555;
	top: -5px;
}

.thank{
    background-color: #fefefe;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-color: #e3e3e3;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
}

.bootstrap-datetimepicker-widget table th.disabled,
.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #f00;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #eee;
  cursor: not-allowed;
}