<div class='scroll'>
    <div class="post_wrap">
        <div class='col-md-10 col-md-offset-1'>
            <h1 style='color:#22aaaa;' class='text-center'>Today I am thankful for:</h1>
            </br>
            <% @thanks.each do |thank| %>
            <div class=' article_post'>
                <div class='modal-body wordwrap'>

                   
                    <p><%= thank.content.html_safe %> | 
 <span class="text-muted"><small>Posted on: <%=thank.created_at.strftime("%B #{thank.created_at.day.ordinalize}, %Y")%>
                    </small></span>
                    </p>
                    <% if user_signed_in? %>
                    <% if current_user.admin>0%>
                    <hr><p class='f_right'>
                    <%= link_to "Show", {:controller => '/thank', :action =>'show', :id => thank.id} %> |
                    <%= link_to "Edit", edit_thank_path(thank) %> |
                    <%= link_to "Delete", {:controller => '/thank', :action => "delete", :id => thank.id} %></p>
                    <%end%>
                    <%end%>
                </div>
            </div>
            <br /> 
            <% end %>
            <div class="text-center"><%= paginate @thanks, :theme => 'twitter-bootstrap-3' %></div>
        </div>
    </div>
    <%= render 'sidepanel'%>
</div>