
<div class='scroll'>
    <div class="col-md-8 col-md-offset-2">
        <div class='col-md-10 col-md-offset-1'>
            <h2 class='text-center'>Today I am thankful for:</h2>
            <p> <%= render 'form' %></p>
            </br>
            <% @thanks.each do |thank| %>
            <div class=' article_post thank'>
                <div class='modal-body wordwrap'>
                    <h4><span class="text-muted">
                    <% if user_signed_in? %>
                    <% if current_user.admin>0%>
                       <%= link_to "x", {:controller => '/thanks', :action => "delete", :id => thank.id}, class: 'f_right' %>
                    <%end%>
                    <%end%>
                        <small><%=thank.created_at.strftime("%B #{thank.created_at.day.ordinalize}, %Y")%>
                    </small></span> : <%= thank.content.html_safe %>
                 
                    </h4>    

                </div>
            </div>
            <br>
            <% end %>
            <div class="text-center"><%= paginate @thanks, :theme => 'twitter-bootstrap-3' %></div>
        </div>
    </div>
    
</div>
