<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo_empty.png", class: "img-brand", size: "50x50"), {:controller => '/home', :action => 'about'}, class: 'navbar-brand'%>
      <%= link_to 'Vlad Otrocol', {:controller => '/home', :action => 'about'}, class: 'navbar-brand'%>
      <div class='navbar-nav divider-vertical'></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><%= link_to 'About', {:controller => '/home', :action => 'about'}%></li>
        <li><%= link_to 'Projects', {:controller => '/home', :action => 'projects'}%></li>
        <li><%= link_to 'Articles', {:controller => '/posts', :action => 'index'}%></li>
        <li><%= link_to 'Docs', {:controller => '/wiki', :action => 'index'}%></li>
        <li> <%= link_to 'CV', {:controller => '/home', :action => 'resume'}%></li>
        <li> <%= link_to 'Thanks', {:controller => '/thanks', :action => 'new'}%></li>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
         <%= current_user.first_name%>
       <b class="caret"></b></a>
        <ul class="dropdown-menu">
          
          <li><%= link_to('Profile', edit_user_registration_path) %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
        </ul>
      </li>
    </ul>
    <%else%>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to('Log in', new_user_session_path)  %>  </li></ul>
    <%end%>
  </div><!-- /.container-fluid -->
</nav>