<div class="sidepanel text-center wordwrap">
    <br>
    <% if user_signed_in? %>
    <% if current_user.admin>0%>
    <%= link_to "New Article", new_post_path, class: 'brand' %>
    <%else%>
    <br>
    <%end%>
    <%end%>
<%= form_tag(posts_path, :method => 'get') do %>
  <p>
    <div class = 'modal-body'><%= text_field_tag :search, params[:search], :placeholder => 'Search Article',class: 'form-control' %></div>
    
  </p>
<% end %>
    <h4>Most recent posts:</h4>
    <div class='panels_item panel_body'>
        <% @recent.each do |r| %>

            <small><%= link_to r.title, {:controller => 'posts', :action =>'show', :id => r.id} %> </small>
            <% if r != @recent.last %>
                <br />
            <% end %>
        <%end%>
    </div>
    <h4>Tags:</h4>
    <div id="tag_cloud", class="text-center modal-body wordwrap">
        <% tag_cloud Post.tag_counts.order('count desc').limit(26), %w{s m l} do |tag, css_class| %>
            <%= link_to (tag.name+'  ' + '<sup>' + tag.count.to_s + '</sup>').html_safe, { :action => :tag, :tag => tag.name }, class: (css_class + ' '+'label label-info')%>
        <% end %>
    </div>
</div>