<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
  <h1 class="form-signin-heading text-center">Sign Up</h1>
  <div class="col-md-4 col-md-offset-4">
    <div class="form-group">
      <%= f.label :first_name, class: 'control-label' %><br />
      <%= f.text_field :first_name, class: 'form-control', autofocus: true%>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: 'control-label' %><br />
      <%= f.text_field :last_name, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'control-label' %><br />
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label' %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class='row text-center'>
        <div class="col-md-4 col-md-offset-1 actions">
            <%= f.submit "Sign up", class: 'btn btn-large btn-block btn-success' %>
        </div>
        <div class="col-md-2 text-center">
          <div class="or">Or</div></div>
        <div class="col-md-4">
          <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-large btn-block btn-default'%>
          
        </div>
      </div>
    <% end %>
</div>
